---
const { release, class: className = 'text-sm' } = Astro.props;

let label = '';
let classes = '';

if (release.prerelease) {
	label = 'pre-release';
	classes =
		'bg-orange-600 hover:bg-orange-500 text-white dark:bg-orange-800 dark:hover:bg-orange-700 dark:text-steel-100';
} else if (release.draft) {
	label = 'draft';
	classes = 'bg-steel-100 hover:bg-steel-200 dark:bg-steel-700 dark:hover:bg-steel-600';
} else {
	label = 'stable';
	classes = 'bg-green-600 hover:bg-green-500 text-white dark:bg-green-800 dark:hover:bg-green-700 dark:text-steel-100';
}
---

{
	release && (
		<div class={className}>
			<span class={`${classes} inline-block mr-2 mb-2 py-0.5 px-2 last:mr-0 rounded-md`}>{label}</span>
		</div>
	)
}
