---
import { Icon } from 'astro-icon';

import ReleaseStatus from '~/components/atoms/ReleaseStatus.astro';

import { getFormattedDate } from '~/utils/utils';
import { getReleaseBlogPost } from '~/utils/releases';
import { getPermalink } from '~/utils/permalinks';

const { release } = Astro.props;

const version = release.tag_name.replace(/^v/, '');
const versionSlug = version.replaceAll('.', '-');

const releaseNotesUrl = `https://codeberg.org/forgejo/forgejo/src/branch/forgejo/RELEASE-NOTES.md#${versionSlug}`;

const releaseBlogPost = await getReleaseBlogPost(version);
const releasePostUrl = releaseBlogPost && getPermalink(releaseBlogPost.slug, 'post');
---

<article class="max-w-xl mx-auto md:max-w-none grid blog-list-item md:blog-list-item-wide">
	<header class="[grid-area:title]">
		<h2
			class="text-xl font-bold leading-8 md:mb-1 font-heading underline underline-offset-4 decoration-steel-100 dark:decoration-steel-600 decoration-1"
		>
			{ releasePostUrl ?
			<a
				class="hover:text-primary-400 dark:text-steel-200 dark:hover:text-primary-600 hover:decoration-current transition ease-in duration-200"
				href={releasePostUrl}
			>
				{release.name}
			</a>
			: release.name }
		</h2>
	</header>
	<footer class="[grid-area:meta] text-sm md:text-right md:leading-8">
		<time class="text-zinc-500 dark:text-zinc-400" datetime={release.published_at}>
			{getFormattedDate(release.published_at)}
		</time>
		<ReleaseStatus release={release} class="inline md:block text-sm ml-2" />
	</footer>
	<div class="[grid-area:content] pb-10">
		{ releasePostUrl && (
			<Icon name="ic:baseline-bookmark-border" class="w-4 h-4 mr-1 -mt-1 inline-block" />
			<a
				class="text-primary-700 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-600 transition ease-in duration-200"
				href={releasePostUrl}
			>
				Blog post →
			</a><br />
		) }
		<Icon name="mdi:file-document-outline" class="w-4 h-4 mr-1 -mt-1 inline-block" />
		<a
			class="text-primary-700 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-600 transition ease-in duration-200"
			href={releaseNotesUrl}
		>
			Release notes →
		</a><br />
		<Icon name="tabler:download" class="w-4 h-4 mr-1 -mt-1 inline-block" />
		<a
			class="text-primary-700 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-600 transition ease-in duration-200"
			href={release.html_url}
		>
			Download on Codeberg →
		</a><br />
		<Icon name="octicon:container-24" class="w-4 h-4 mr-1 -mt-1 inline-block" />
		<a
			class="text-primary-700 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-600 transition ease-in duration-200"
			href={`https://codeberg.org/forgejo/-/packages/container/forgejo/${version}`}
		>
			Get container image →
		</a>
	</div>
	<div class="[grid-area:line]">
		<div class="w-2.5 h-2.5 mt-3 mx-auto rounded-full border-steel-300 dark:border-steel-500 border-2"></div>
		<div class="w-[2px] h-full mx-auto bg-steel-200 dark:bg-steel-600"></div>
	</div>
</article>
